.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(95, 99, 101);
  color: rgb(249, 239, 239);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: rgb(8, 6, 6);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}




body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.pocetna{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/180/387/737/the-inscription-music-button-play-wallpaper-preview.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 500px;
  padding-bottom: 500px;
  
}
 

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  color: white;
  font-family:  monospace;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  overflow: hidden;
  text-align: center;
  font-family: arial;
  padding: 30px;
  margin: 5px;
}

.song {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.svePesme {
  background-color: #000;
  margin:0;
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}